### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os
import csv

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load,low_memory=False)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
Player_Totals = purchase_data.loc[:,["Gender", "SN", "Age"]]
Player_Totals = Player_Totals.drop_duplicates()
Number_of_Players = Player_Totals.count()[0]

pd.DataFrame({"Total Players" : [Number_of_Players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#finding unique items by item id
Number_of_Unique_Items = purchase_data['Item ID'].nunique()

#calculating average,number od purcchase,total revenue
Average_Price = purchase_data['Price'].mean()
Number_of_Purchases = purchase_data['Purchase ID'].count()
Total_Revenue = purchase_data['Price'].sum().round(2)

#Displaying total purchase analysis 
Total_Purchasing_AnalysisDF = pd.DataFrame({
    "Number of Unique Items":[Number_of_Unique_Items],
    "Average Purchase Price":[Average_Price],
    "Total Number of Purchases":[Number_of_Purchases],
    "Total Revenue":[Total_Revenue]})
Total_Purchasing_AnalysisDF["Average Purchase Price"] = Total_Purchasing_AnalysisDF["Average Purchase Price"].map("${:.2f}".format)
Total_Purchasing_AnalysisDF["Total Revenue"] = Total_Purchasing_AnalysisDF["Total Revenue"].map("${:,.2f}".format)
Total_Purchasing_AnalysisDF

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
 #finding total number and percentege by gender
Gender_Totals = Player_Totals["Gender"].value_counts()
Gender_Percents = Gender_Totals/Number_of_Players*100 


Gender_DemographicsDF = pd.DataFrame({f"Total Count": Gender_Totals, "Percentage of Players":Gender_Percents})


Gender_DemographicsDF = Gender_DemographicsDF.round(2)
Gender_DemographicsDF


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
Gender_Purchase_Count = purchase_data.groupby(["Gender"])["Price"].count().rename("Purchase Count")
Average_Gender_Purchase_Price = purchase_data.groupby(["Gender"])["Price"].mean().rename("Average Purchase Price")
Total_Gender_Purchase_Value = purchase_data.groupby(["Gender"])["Price"].sum().rename("Total Purchase Value")
Average_Purchase_Total_PG = Total_Gender_Purchase_Value / Gender_DemographicsDF["Total Count"]


### Purchasing Analysis (Gender) DataFrame ###
Gender_Purchasing_AnalysisDF = pd.DataFrame({"Purchase Count": Gender_Purchase_Count,
                                            "Average Purchase Price": Average_Gender_Purchase_Price,
                                            "Total Purchase Value": Total_Gender_Purchase_Value,
                                            "Avg Total Purchase Per Person": Average_Purchase_Total_PG})
### Currency/Formatting Added ###
Gender_Purchasing_AnalysisDF["Average Purchase Price"] = Gender_Purchasing_AnalysisDF["Average Purchase Price"].map("${:.2f}".format) 
Gender_Purchasing_AnalysisDF["Total Purchase Value"] = Gender_Purchasing_AnalysisDF["Total Purchase Value"].map("${:.2f}".format)
Gender_Purchasing_AnalysisDF["Avg Total Purchase Per Person"] = Gender_Purchasing_AnalysisDF["Avg Total Purchase Per Person"].map("${:.2f}".format)
Gender_Purchasing_AnalysisDF = Gender_Purchasing_AnalysisDF.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase Per Person"]]
Gender_Purchasing_AnalysisDF

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
    
    # Purchase Count
    # Average Purchase Price
    # Total Purchase Value
    # Average Purchase Total per Person by Age Group

Player_Totals["Age Ranges"] = pd.cut(Player_Totals["Age"], bins, labels = bin_labels)
Age_Demographics_Totals = Player_Totals["Age Ranges"].value_counts()
Age_Demographics_Percents = Age_Demographics_Totals / Number_of_Players * 100

### Age Demographics Data Frame ###
Age_DemographicsDF = pd.DataFrame({"Total Count": Age_Demographics_Totals, "Percentage of Players": Age_Demographics_Percents})

### Currency/Formatting Added ###
Age_DemographicsDF = Age_DemographicsDF.round(2)
Age_DemographicsDF.sort_index()

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
PurchasingAnalysis = pd.DataFrame({     })

bins = [0,10,14,19,24,29,34,40,100]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"] 

purchase_data[""] = pd.cut(purchase_data["Age"], bins,right = False, labels=group_names)
grouped_purchase_data = purchase_data.groupby([""])
PurchasingAnalysis["Purchase Count"]=grouped_purchase_data['Price'].count()
PurchasingAnalysis["Average Purchase Price"]= grouped_purchase_data['Price'].mean().round(2)
PurchasingAnalysis["Total Purchase value"] = grouped_purchase_data['Price'].sum().round(2)
PurchasingAnalysis["Avg Total Purchase per Person"] = grouped_purchase_data['Price','SN'].mean()

PurchasingAnalysis

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
Spender_Analysis = purchase_data.groupby("SN")

Top_Purchase_Count = Spender_Analysis["Purchase ID"].count().round(2)
Avg_Spender_Price = Spender_Analysis["Price"].mean().round(2)
Total_Spender_Purchase = Spender_Analysis["Price"].sum().round(2)

### Top Spenders Data Frame ###
Top_Spenders_Analysis = pd.DataFrame({"Purchase Count": Top_Purchase_Count,
                               "Average Purchase Price" : Avg_Spender_Price,
                                "Total Purchase Value": Total_Spender_Purchase
})
### Currency/Formatting Added ###                                   
Top_5_Spenders_DataFrame = Top_Spenders_Analysis.sort_values(["Total Purchase Value"], ascending=False).head(5) 
Top_5_Spenders_DataFrame["Average Purchase Price"] = Top_5_Spenders_DataFrame["Average Purchase Price"].map("${:.2f}".format)
Top_5_Spenders_DataFrame["Total Purchase Value"] = Top_5_Spenders_DataFrame["Total Purchase Value"].map("${:.2f}".format)
Top_5_Spenders_DataFrame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
mpo = pd.DataFrame({})

mpo['Item ID']= purchase_data['Item ID']
mpo['Item Name']= purchase_data['Item Name']
mpo['Price']= purchase_data['Price']
mpo_grouped = mpo.groupby(['Item ID','Item Name','Price'])
total = mpo_grouped['Price'].sum()
price = mpo_grouped.Price
p_count = mpo_grouped['Price'].count()

state_summary_table = pd.DataFrame({"Purchase Count": p_count,
                                    
                                    "Total Purchase Value": total})
state_summary_table.sort_values(by = 'Total Purchase Value', ascending=False).head()

## Most Profitable Items

In [ ]:
state_summary_table.sort_values(by = 'Total Purchase Value', ascending=False).head()